@import "tailwindcss";

/* body{
  background-color: #FAFAFA;
}

body{
  background-color: #1c1c1c;
  color:#FAFAFA ;
} */

/* GLOBAL VARIABLES */
:root {
  --bg-color: #ffffff;
  --text-color: #111111;
  --input-bg: #f5f5f5;
  --input-border: #cccccc;
  --link-color: #1a73e8;
}

/* DARK THEME OVERRIDES */
body.dark {
  --bg-color: #111827;
  --text-color: #f3f4f6;
  --input-bg: #1f2937;
  --input-border: #374151;
  --link-color: #f4f4f4;
}

/* APPLY TO FULL WEBSITE */
body {
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, sans-serif;
  transition: background 0.25s ease, color 0.25s ease;
}

/* INPUT FIELDS */
input,
textarea,
select {
  background: var(--input-bg);
  color: var(--text-color);
  border: 1px solid var(--input-border);
  padding: 8px;
  border-radius: 6px;
  transition: 0.25s;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

